{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothing Collector</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body style="background-color: lightskyblue;">
    <header class="navbar-fixed hover" style="background-color: black;  ">
      <nav>
        <div class="nav-wrapper" style="background-color: black;">
          <ul>
            <li>
              <a href="{% url 'home' %}" class="left brand-logo"> Clothing Collector </a>
            </li>
          </ul>

          <ul class="right">
            <li>
              <a href="{% url 'about' %}">About</a>
            </li>
            <li>
              <a href="{% url 'tops_create' %}">Add a Top</a>
            </li>
            <li>
                <a href="{% url 'index' %}">View All My Tops</a>
            </li>

            <li><a href="{% url 'pants_create' %}">Add Pants</a></li>
            <li><a href="{% url 'pants_index' %}">View all Pants</a></li>

          </ul>
        </div>
      </nav>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>


    <footer class="page-footer" style="font-family: Arial; color: yellow; background-color: black;">
      <div class="right">All Rights Reserved, &copy; 2022 Clothing Collector</div>
    </footer>


  </body>
</html>
